.auxiliary-color-green{
    background-color: #11BB44;
}

.auxiliary-color-red{
     background-color: #FF4411;
 }

.auxiliary-color-blue{
    background-color: #2277EE;
}

.auxiliary-color-blue2{
    background-color: #1077BB;
}

.auxiliary-color-white{
    background-color: #ffffff;
}

