<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>功能设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="../static/css/xadmin.css" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" href="../static/css/auxiliary.css" th:href="@{/css/auxiliary.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a>首页</a>
        <a>设置</a>
        <a>
          <cite>功能设置</cite></a>
      </span>
      <a class="layui-btn auxiliary-color-blue" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <!--<blockquote class="layui-elem-quote">每个tr 上有两个属性 cate-id='1' 当前分类id fid='0' 父级id ,顶级分类为 0，有子分类的前面加收缩图标<i class="layui-icon x-show" status='true'>&#xe623;</i></blockquote>-->
      <xblock>
        <button class="layui-btn auxiliary-color-red" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn auxiliary-color-blue" onclick="x_admin_show('添加功能模块','./moudleInfo-add.html',500,300)" th:onclick="'x_admin_show(\'添加功能模块\',\'/management/setting_module/add\',500,300)'"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px" th:text="'共有设置：' + ${setmod.size()} +'项'">共有设置：88 项</span>
      </xblock>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="20">
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th width="30">ID</th>
            <th>模块名称</th>
            <th>模块介绍</th>
            <th >执行路径</th>
            <th >编辑时间</th>
            <th width="220">操作</th>
        </thead>
        <tbody class="x-cate">
          <tr cate-id='1' fid='0' th:each="set,iterStat:${setmod}">
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='1' th:attr="data-id=${set.getModuleId()}"><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td th:text="${set.getModuleId()}">1</td>
            <td th:text="${set.getName()}">模块名</td>
            <td th:text="${set.getIntroduction()}">
              <!--<i class="layui-icon x-show" status='true'>&#xe623;</i>-->
              模块介绍
            </td>
            <td th:text="${set.getExecutionPath()}">
              /test/abc.py
            </td>
            <td th:text="${set.getAddDate()}">
              <!--<i class="layui-icon x-show" status='true'>&#xe623;</i>-->
              /test/abc.py
            </td>
            <td class="td-manage">
              <button class="layui-btn layui-btn layui-btn-xs auxiliary-color-green" onclick="x_admin_show('编辑','setting-edit.html',500,300)" th:onclick="'x_admin_show(\'编辑设置\',\'/management/setting_module/edit/'+ ${set.getModuleId()} + '\',500,300)'"><i class="layui-icon">&#xe642;</i>编辑</button>
              <button class="layui-btn layui-btn-xs auxiliary-color-red"  th:onclick="'moudleInfo_del(this,' + ${set.getModuleId()} + ')'" onclick="moudleInfo_del(this,'')" href="javascript:;" >
                <i class="layui-icon">&#xe640;</i>删除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <style type="text/css">
      
    </style>
    <script>
      layui.use(['form'], function(){
        form = layui.form;
      });

      /**
       * 删除设置
       * @param obj html对象
       * @param id 删除的设置id
       */
      function moudleInfo_del(obj,id){
          if("" == id)
          {
              layer.msg('假设删除成功![笑]',{icon:1,time:1500});
              $(obj).parents("tr").remove();
              return;
          }
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              //alert("/manage/moduleinfo/delete/byid/" + id);
              $.post("/manage/moduleinfo/delete/byid/" + id,function(){
                layer.msg('删除成功!',{icon:1,time:1500});
                $(obj).parents("tr").remove();
              });
          });
      }

      function delAll (argument) {
        var delIds = tableCheck.getData();
        if(delIds == null) return;
        layer.confirm('确认要删除ID号为 '+ delIds +' 的设置吗？',function(index){
          //捉到所有被选中的，发异步进行删除
          $.ajax({type:'post',
            url:'/manage/moduleinfo/delete/byids/',
            data:JSON.stringify(delIds),
            dataType: 'text',// 可以不写
            contentType:'application/json',
            success:function () {
              layer.msg('删除成功', {icon: 1});
              $(".layui-form-checked").not('.header').parents('tr').remove();
            },
            error:function(){
              layer.msg('删除失败', {icon: 1});
            }});
        });
      }
    </script>
  </body>

</html>